# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/out
/build
/bin

# IDEs and editors
/.idea
/.vscode
/.settings
/.classpath
/.project

# misc
/.gradle
/gradle
/gradlew*

# sub module
./common/out
/.gradle
/.idea
/logs
/out
/qihang-tsa-service.kwps
/qihang-tsa-service.kwlp
/qihang-tsa-service.iml
/keys
/logs
/target
